

	@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');


//Modifique los estilos base desde las variables
	body {
		background  : $body--background;
		font-family : $body--font-family !important;
		color       : $body--color;
	}

	a {
		color           : $link--color;
		text-decoration : none;

}

	p, blockquote, li {
		font-size   : $p--font-size;
		line-height : $p--line-height;
	}

	p {
		margin : 0 0 $p--margin 0;
	}




// Tamaños y estilos de los encabezados:
	h1 { 
		font-size : $h1--font-size; 
		line-height: 1.2;
		margin: 1em 0;
	}

	h2 { 
		font-size : $h2--font-size; 
	}

	h3 { 
		font-size : $h3--font-size; 
	}

	h4 { 
		font-size : $h4--font-size; 
	}

	h5 { 
		font-size : $h5--font-size; 
	}

	h6 { 
		font-size : $h6--font-size;
	}

	header {
		border-bottom:1px solid $color1;
		padding-bottom: 0;
		
	}

	footer {
		background-color: $color1;
		text-align: center;
		padding: 2em;
		color: #fff;
	}