	@import "functions";

	//Colores base 
		$color1 : #f7b617;
		$color2: #2b2b2b;
	

	//Estilos para el body general
		$body--background  : #fff;// fondo para el body
		$body--font-family : 'Montserrat', sans-serif; // fuente predeterminada
		$body--color      : $color2; // color de texto predeterminado

	//Tamaños para los headers	
		$h1--font-size : em(32px);
		$h2--font-size : em(25px);
		$h3--font-size : em(18px);
		$h4--font-size : em(16px);
		$h5--font-size : em(14px);
		$h6--font-size : em(12px);

	// ESTIILOS DE ENLACES
		$link--color : $color2;  // color para los enlaces

	// ESTILOS DE PÁRRAFOS
		$p--font-size   : em(16px); // Tamaño de fuente
		$p--line-height : 1.4;  // Altura de línea
		$p--margin      : em(16px); // Separación entre un párrafo y el siguiente
