
.header {
		display: flex;
		height: 35px;
		justify-content: space-between;
		align-items: center;
		margin-top: .5em;
		margin-bottom: .5em;
		
		
	&__logo {
		width: 60%;
	}

	&__menu {
		height: 20px;
	}
};